<form>
    <div class="bnj-login-sign-up-carousel">
        <div class="bnj-login-mySlides fade">
            <img src="https://www.psm-enligne.org/wp-content/uploads/2018/01/2017_12_22_robot.jpg" alt="robot1">
        </div>
        <div class="bnj-login-mySlides fade">
            <img src="https://images2.alphacoders.com/167/167502.jpg" alt="robot2">
        </div>
        <div class="bnj-login-mySlides fade">
            <img src="https://s1.best-wallpaper.net/wallpaper/m/1801/Robot-skull-creative-design_m.jpg"
                 alt="robot3">
        </div>
    </div>
    <div>
        <span class="bnj-login-form-dot"></span>
        <span class="bnj-login-form-dot"></span>
        <span class="bnj-login-form-dot"></span>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="email" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Lastname">
        </div>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="email" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Firstname">
        </div>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="email" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Email">
        </div>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="email" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Password">
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Sign up</button>

</form>