<form id="bnj-sign-up-login-content" class="bnj-form-content bnj-form-content-visible" method="post" target="">
    <div class="bnj-login-sign-up-catchphrase">
        Start your journey now!
    </div>
    <div class="bnj-login-sign-up-carousel">
        <div class="bnj-login-mySlides fade">
            <img src="https://www.psm-enligne.org/wp-content/uploads/2018/01/2017_12_22_robot.jpg" alt="robot1">
        </div>
        <div class="bnj-login-mySlides fade">
            <img src="https://images2.alphacoders.com/167/167502.jpg" alt="robot2">
        </div>
        <div class="bnj-login-mySlides fade">
            <img src="https://s1.best-wallpaper.net/wallpaper/m/1801/Robot-skull-creative-design_m.jpg"
                 alt="robot3">
        </div>
    </div>
    <div class="bnj-login-dots-container">
        <span class="bnj-login-form-dot"></span>
        <span class="bnj-login-form-dot"></span>
        <span class="bnj-login-form-dot"></span>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="text" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Lastname">
        </div>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="text" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Firstname">
        </div>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="email" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Email">
        </div>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="password" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Sign up</button>

</form>

<form id="bnj-sign-in-login-content" class="bnj-form-content" method="post" target="">
    <div class="bnj-login-sign-up-catchphrase">
        Check out our brand new parts!
    </div>
    <div class="bnj-login-sign-up-carousel">
        <div class="bnj-login-mySlides fade">
            <img src="https://www.inventions.news/wp-content/uploads/sites/340/2018/04/Robot-Hands.jpg" alt="robotarm">
        </div>
        <div class="bnj-login-mySlides fade">
            <img src="https://c1.lestechnophiles.com/www.numerama.com/content/uploads/2016/06/robots-1900.jpg"
                 alt="robothelmet">
        </div>
        <div class="bnj-login-mySlides fade">
            <img src="https://i.pinimg.com/originals/18/de/a8/18dea8d0e409167504367f89619181bf.jpg" alt="robotheart">
        </div>
    </div>
    <div>
        <span class="bnj-login-form-dot"></span>
        <span class="bnj-login-form-dot"></span>
        <span class="bnj-login-form-dot"></span>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="email" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Email">
        </div>
    </div>
    <div class="form-group row bnj-login-form-row">
        <div class="col">
            <input type="password" class="form-control bnj-login-form-input" id="colFormLabel" placeholder="Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>

</form>