{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block content %}
    <main>
        <section class="bnj-login-composants-container">
            <section class="bnj-login-tabs">
                CHOICE
            </section>

            <section class="bnj-login-form">
                {% include 'Login/_form_connexion.html.twig' %}
            </section>
        </section>

    </main>


{% endblock %}

{% block javascripts %}
    <script src="/assets/js/login.js" ;></script>
{% endblock %}
