{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Success Sign Up
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/successlogin.css">
{% endblock %}

{% block content %}
    <main>
        <div class="card text-center bnj-success-login-sign-up">
            <div class="card-header">
                Welcome on board !
            </div>
            <div class="card-body">
                <h5 class="card-title">Thanks for joining us!</h5>
                <p class="card-text">Feeling adventurous? Explore more of SetMind!</p>
                <a href="/questionnaire/questionnaire" class="lt_button_log_2">Take our quizz!</a>
                <a href="/envelop/envelops" class="lt_button_log_2">Check our envelops!</a>

            </div>
            <div class="card-footer text-muted">
                Have fun!
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}
