{% extends 'layout.html.twig' %}

{% block content %}
    <main>
        <div class="LT_card_test">
            <form action="_test.html.twig" class="LT_card">

                <div class="LT_card-head">
                    <span class="card_n_question">Question n°1</span>
                    <span  class="card_question">What does traveling mean for you ?</span>
                </div>


                <div class="LT_group_answers">
                    <input type="radio" id="a" name="radio"><label for="a">clear my head</label>
                    <input type="radio" id="b" name="radio"><label for="b">discover new cultures</label>
                </div>

                <div class="LT_group_answers">
                    <input type="radio" id="c" name="radio"><label for="c">feel new emotions</label>
                    <input type="radio" id="d" name="radio"><label for="d">purely professional</label>
                </div>

                <div>
                    <button class="LT_test_button-answer">Next question</button>
                </div>

            </form>
        </div>
    </main>


{% endblock %}