{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}
    <h1>Hello wilder !</h1>
    {% include 'Item/_button.html.twig' %}

{% endblock %}

