{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}
    <h1>Hello Wilder !</h1>
{% endblock %}
