<div class="LT_main">
    <div class="LT_content_main">

    <img class="cerveau" src = "https://www.aitiraum.de/system/images/797/bfb/a2f/10773/xlarge/Gehirn_Quadrat_(1).png" width="120px" height"100px">
        <h2>welcome to our test !</h2>
        <p>Discover the analysis of your survivor profile and
            choose a robotic envelope that matches your personality ! </p>
    </div>

    <div class="LT_content_body">
        <div>
            <img class="img_test" src="https://www.portfoliometrix.com/wp-content/uploads/2017/10/Robot-Advice-480-x-360.jpg" width="320px" height="260px" alt="">
        </div>

        <div class="LT_content_body_2">
                <h3>Mission test</h3>
        <hr>
            <p class="p"> a series of questions selected by neuroscientists,
            for understand who you are
                    and help you find who you will become.<br>

            our questions are grouped into three categories,
            each oriented towards an aspect of your person.</p>
        </div>

    </div>

</div>
