<div class="content_main">
<h2>Human, welcome to our questionnaire !</h2>
<p>Discover the analysis of your survivor profile and
    choose a robotic envelope that matches your personality!</p>
</div>

<div>
    <p>what's this ?
       a series of questions selected by neuroscientists, for understand who you are
       and help you find who you will become. <br>
        our questions are grouped into three categories, each oriented towards an aspect of your person:</p>
    <ul>
        <li>personality</li>
        <li>objectives</li>
        <li>lifestyle</li>
    </ul>
</div>
