<div class="LT_main">
    <div class="LT_content_main">
        <h2>welcome to our test !</h2>
        <p>Discover the analysis of your survivor profile and
            choose a robotic envelope that matches your personality..</p>
    </div>

    <div class="LT_content_body">
        <div>
            <img class="img_test" src="/assets/images/cerveau_test.jpg" width="200px" height="170px" alt="">
        </div>

        <div class="LT_content_body_2">
                <h3>Lorem ipsum</h3>
        <hr>
            <p class="p"> a series of questions selected by neuroscientists,
            for understand who you are
                    and help you find who you will become.<br>

            our questions are grouped into three categories,
            each oriented towards an aspect of your person.</p>
        </div>

    </div>

</div>
