<footer>
    <div class="container-fluid">
        <div class="d-flex justify-content-around flex-wrap">
            <div class="align-self-center">
                <a class="gc-footer-link" href="/About/about">Our Story</a>
            </div>
            <div class="align-self-center">
                {% include 'Item/_logo.html.twig' %}
            </div>
            <div class="align-self-center">
                <a class="gc-footer-link" href="#">Legal Mentions</a>
            </div>
        </div>
    </div>
</footer>
