<footer>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 align-self-center">
                <a class="gc-footer-link" href="#">Our Story</a>
            </div>
            <div class="col-4 align-self-center">
                {% include 'Item/_logo.html.twig' %}
            </div>
            <div class="col-4 align-self-center">
                <a class="gc-footer-link" href="#">Legal Mentions</a>
            </div>
        </div>
    </div>
</footer>
