<header class="gc-header">
    <div class="gc-container-grid-colomn">
        <a class="logo-gca" href="/home/index">SetMind</a>
        {% if not session.user is defined %}
            <a class="gc-nav-button gc-envelops" href="/envelop/envelops">Envelops</a>
            <a class="gc-nav-button gc-eveluate" href="/Questionnaire/questionnaire">Evaluate Eligibility</a>
            <a class="gc-nav-button gc-aboutus" href="#">About Us</a>
            <a class="gc-connexion-desktop gc-nav-icon-conexion" href="/login/connexion"> </a>
        {% else %}
            <a class="gc-nav-button gc-envelops" href="/envelop/envelops">Envelops</a>
            <a class="gc-nav-button gc-eveluate" href="/Questionnaire/questionnaire">Evaluate Eligibility</a>
            <a class="gc-nav-button gc-aboutus" href="#">About Us</a>
            {% if not session.user.administrator == 1 %}
                {% set visible = "display:none;" %}
            {% endif %}
            <a style="{{ visible }}" class="gc-nav-button" href="/Administration/index">Administration</a>
            <a class="gc-MyEnvelops gc-nav-button " href="/envelop/myenvelop">My Envelop</a>
            <a class="gc-connexion-desktop gc-nav-icon-conected" href="/login/logout">
            </a>
        {% endif %}
    </div>
    <div class="d-lg-none container-fluid  mt-1 pr-4 gc-bgblack">
        <div class="pos-f-t">
            <div class="row justify-content-between flex-nowrap gc-bgblack">
                <nav class="col-sm-11 navbar navbar-dark gc-bgblack">
                    <button class="navbar-toggler gc-burger-icon" type="button" data-toggle="collapse"
                            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
                {% if not session.user is defined %}
                    <a class="col-sm-1 gc-nav-icon-conexion" href="/login/connexion"> </a>
                {% else %}
                    <a class="col-sm-1 gc-nav-icon-conected"
                       href="/login/logout">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="collapse col-12" id="navbarToggleExternalContent">
            {% if not session.user is defined %}
                <a class="gc-nav-button gc-envelops" href="/">Home</a>
                <a class="gc-nav-button gc-envelops" href="/envelop/envelops">Envelops</a>
                <a class="gc-nav-button gc-eveluate" href="/Questionnaire/questionnaire">Evaluate Eligibility</a>
                <a class="gc-nav-button gc-aboutus" href="#">About Us</a>
            {% else %}
                <a class="gc-nav-button gc-envelops" href="/">Home</a>
                <a class="gc-nav-button gc-envelops" href="/envelop/envelops">Envelops</a>
                <a class="gc-nav-button gc-eveluate" href="/Questionnaire/questionnaire">Evaluate Eligibility</a>
                <a class="gc-nav-button gc-aboutus" href="#">About Us</a>
                <a class="gc-MyEnvelops gc-nav-button " href="/envelop/myenvelop">My Envelop</a>
            {% endif %}
        </div>
    </div>
</header>



