
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SetMind{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/button.css">
    <link rel="stylesheet" href="/assets/css/_header.css">
    <link rel="stylesheet" href="/assets/css/logo.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    {% block stylesheet %}{% endblock %}

    <script src="https://kit.fontawesome.com/f0a8b2a9e8.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/images/favicon.png">
</head>


<body class="gc-bgblack">
<header class="gc-header">
    <div class="gc-container-grid-colomn">
        <a class="logo-gca" href="/home/index">SetMind</a>
        <a class="gc-nav-button gc-envelops" href="/envelop/envelops">Envelops</a>
        <a class="gc-nav-button gc-eveluate" href="/Questionnaire/questionnaire">Evaluate Eligibility</a>
        <a class="gc-nav-button gc-aboutus" href="#">About Us</a>
        <a class="gc-MyEnvelops gc-nav-button " href="#">My Envelop</a>
        <a class="gc-connexion-desktop gc-nav-icon-conexion" href="#"> </a>
    </div>
    <div class="d-lg-none container-fluid  gc-bgblack">
        <div class="pos-f-t">

            <div class="row ustify-content-between flex-nowrap gc-bgblack">
                <nav class="col-11 navbar navbar-dark gc-bgblack">
                    <button class="navbar-toggler gc-burger-icon" type="button" data-toggle="collapse"
                            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
                <a class="col-xs-1 gc-nav-icon-conexion" href="#"> </a>
            </div>
        </div>
        <div class="collapse col-12" id="navbarToggleExternalContent">
            <a class="row gc-burger-button gc-envelops align-middle" href="/envelop/envelops">Envelops</a>
            <a class="row  gc-burger-button gc-eveluate" href="/Questionnaire/questionnaire">Evaluate Eligibility</a>
            <a class="row  gc-burger-button gc-aboutus" href="#">About Us</a>
            <a class="row gc-burger-button gc-MyEnvelops" href="#">My Envelop</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>


<footer class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <a class="text-white" href="#">Our Story</a>
        </div>
        <div class="col-4 align-self-center">
            {% include 'Item/_logo.html.twig' %}
        </div>
        <div class="col-4 align-self-center">
            <a class="text-white"  href="#">Legal Mentions</a>
        </div>
    </div>


</footer>


{% block javascript %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>

