<div class="col-1 gc-bg-gray">
    <h4>Administration</h4>
    <ul>

        <div class="row">
            <li>
                <a href="">Parts</a>
            </li>
        </div>
        <div class="row">
            <li>
                <a href="">Envelops</a>
            </li>
        </div>
        <div class="row">
            <li>
                <a href="">Users</a>
            </li>
        </div>
    </ul>
</div>
