<div class="col-1 gc-admin-menu-left">
    <h4 class="gc-margin-top-5">Administration</h4>
        <div class="row gc-margin-top-5">
                <a class="gc-nav-button gc-admin-btn-min-witdth" href="/Administration/index">Parts</a>
        </div>
        <div class="row ">
                <a class="gc-nav-button gc-admin-btn-min-witdth" href="/Administration/envelops">Envelops</a>
        </div>
        <div class="row">
                <a class="gc-nav-button gc-admin-btn-min-witdth" href="">Users</a>
        </div>
</div>
