
    <h2>Parts</h2>
    {{ dump(part) }}
    <ul>
        {% for part in parts %}
            <li><a href="Administration/showpart/{{ part.id }}">{{ part.id }}. {{ part.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/item/add">Ajouter</a>

