<div>

    <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/admin.css">
</div>


<div class="container-fluid gc-bg-snow">
    <div class="row fullpage">
            {% include "Administration/_menu.html.twig" %}
        <div class="col-10 gc-bg-blue">
            <h1> Table will apear here</h1>
            {% include "Administration/_parts.html.twig" %}
        </div>
    </div>
</div>


