{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Administration
{% endblock %}

{% block stylesheet %}
    <div>
        <link rel="stylesheet" href="/assets/css/admin.css">
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid gc-bg-snow">
        <div class="col-2 gc-bg-gray">
            <h3>Administration</h3>
            <ul>
                <div class="row">
                    <li>
                        <a href="">Envelops</a>
                    </li>
                </div>
                <div>
                    <li>
                        <a href="">Envelops</a>
                    </li>
                </div>
                <div>
                    <li>
                        <a href="">Envelops</a>
                    </li>
                </div>
            </ul>


        </div>

        <div class="col-10 gc-bg-blue">


        </div>

    </div>

{% endblock %}


