@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&display=swap');
 h2 {
    background-color: black;
     color: white;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    transition: .6s ease-in-out;
    font-family: 'Blinker', sans-serif;
}
.LT_content_main {
    background-color: black;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



hr {
    height: 100px;
    background-color: black;
    width: 2px;
    margin-top: -10px;
}

.LT_content_main p {
    color: white;
    height: 30px;
}

.p {
    padding-left: 20px;
}

h3 {
    padding-left: 40px;
}

.LT_content_body_2 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.LT_content_body {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-top: 50px;
    background-color: whitesmoke;
    box-shadow:  2px 2px 2px gray;
}

.LT_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cerveau {
    margin-top: 40px;
}

.img_test {
    border-radius: 20px;
}

 @media screen and (max-width: 600px) {
     .LT_content_body {
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         height: 500px;
     }
     h3 {
         padding-right: 40px;
     }
 }



