footer {
    width: 100%;
    height: 10vh;
    z-index: 1000;
    font-family: 'Blinker', sans-serif;
    justify-self: flex-end;
}

footer .bnj-footer-navbar {
    display: flex;
    justify-content: space-evenly;
}

footer nav div a {
    text-decoration: none !important;
}

@media (min-width: 992px) {

}
