header {
    z-index: 1000;
    display: flex;
    font-family: 'Blinker', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.bnj-login-icon {
    position: absolute;
    top: 1.5%;
    right: 5%;
}

#navbarTogglerDemo03 {
    background-color: gray;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bnj-line {
    height: 2px;
    width: 95%;
    background-color: white;
}

header .navbar-brand {
    display: none;
}

header nav i {
    height: 80%;
    width: auto;
}

@media (min-width: 992px) {
    header .navbar-brand {
        display: block;
    }

    .home {
        display: none;
    }

    .bnj-header-ul-navbar {
        width: 100%;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    .bnj-login-icon {
        top: 3.5%;
        right: 2.5%;
    }

    #navbarTogglerDemo03 {
        background-color: transparent;
    }

    .bnj-LT-header-nav-button {
        background-color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
        box-shadow: 4px 3px 3px rgb(163, 163, 189);
    }

    .bnj-LT-header-nav-button:hover {
        background-color: black;
        border: solid white 1.5px;
        box-shadow: 4px 3px 3px rgb(190, 190, 207);
    }

    .bnj-LT-header-nav-button a:hover {
        color: white !important;
    }

    .bnj-navbar-background-transparent {
        background: transparent;
    }

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*  ----------------------------- Menu desktop -----------------------------------------------------------------------*/
.gc-connexion-desktop {
    grid-column-start: 7;
    grid-column-end: 7;
}
.gc-connexion-burgeur {
    grid-column-start: 2;
    grid-row-start: 1;
    aling-self:end;
}


.gc-zindex{
    z-index: 999;
}
.gc-menu-burger{
    display :none;

}
.gc-container-grid-colomn {
    display: grid;
    grid-template-columns: 200px 100px 150px minmax(100px,2500px) 100px 1px 50px;
    grid-auto-rows: auto;
    grid-auto-flow: column;
    justify-items: start;
    align-items: center;
}
.gc-container-grid-colomn a{
    text-decoration: none ;
    font-family: 'Blinker';
    white-space: nowrap;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1em;
}
.gc-container-grid-colomn a:hover{
    color: white;
}
.gc-bgblack{
    background-color: transparent;
}
.gc-bgwhite{
    background-color: white;
    background-image: url("../images/robot40x40.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.gc-nav-button {
    background-color: white;
    color:black;
    border: none;
    min-height: 50px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 2px 1px 1px rgb(163, 163, 189);
}
.gc-nav-button:hover {
    background-color: black;
    color:white;
    border: solid white 1.5px;
    box-shadow: 2px 1px 1px rgb(190, 190, 207);
}

.gc-nav-icon-conexion {
    background-color: white;
    color:black;
    border: none;
    min-width: 40px;
    min-height: 40px;
    height : 45px;
    width: 45px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 2px 1px 1px rgb(163, 163, 189);
    background-image: url("../images/robot40x40.png");
    background-repeat: no-repeat;
    background-size: contain;
    pading-left: 2px;
    margin-top: 3px;
}
.gc-nav-icon-conexion:hover {
    background-color: black;
    color:white;
    border: solid white 1.5px;
    box-shadow: 2px 1px 1px rgb(190, 190, 207);
    background-image: url("../images/robot40x40w.png");
}


/*############ Guillaume ####################################################*/
/* Css pour le logo SetMind */
.logo-gca {
    font-family: 'Blinker';
    color:slategrey !important;
    text-decoration: none !important;
    font-weight:bold; /* mettre en gras */
    font-size: 3em !important; /* Une taille de 6 fois la taille normale*/
    text-shadow:1px 1px 2px rgba(0,0,0,0.80); /* une ombre de 8px decalÃ© de 3px et 1px avec une couleur noir Ã  80% d'opacitÃ©*/
}

@media (max-width: 960px) {
    footer nav .logo-gca {
        font-size: 2em;
    }
    .gc-container-grid-colomn {
        display: none;
    }
    header nav .logo-gca {
        display: block;
    }
    .gc-menu-burger{
        display :inline-flex;

    }

}


@media (max-width: 400px) {
    footer nav .logo-gca {
        font-size: 2em;
    }
    .gc-container-grid-colomn {
        display: none;
    }
}

/************* fin menu  desktop ****************************************/

/************** menu burger surcharge bootstrap *********************************************/
