header {
    z-index: 1000;
    display: flex;
    font-family: 'Blinker', sans-serif;
}

.bnj-login-icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

i {
    padding-top: 25%;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bnj-line {
    height: 2px;
    width: 95%;
    background-color: white;
}

header .navbar-brand {
    display: none;
}

header nav i {
    height: 80%;
    width: auto;
}

@media (min-width: 992px) {
    header .navbar-brand {
        display: block;
    }

    .home {
        display: none;
    }

    .bnj-header-ul-navbar {
        width: 100%;
    }

    .bnj-header-link-hover-effect {
        display: block;
        position: relative;
    }

    .bnj-header-link-hover-effect:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFF;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    .bnj-header-link-hover-effect:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .bnj-navbar-background-transparent {
        background: transparent;
    }

}