* {
    font-family: 'Blinker', sans-serif;
}

html{
    height : 100%;
    font-family: 'Blinker', sans-serif;
}
.gc-margin-left-25p{
    margin-left: 20px;
}

footer {
    display: none;
}



.gc-bg-blue{
    background-color: mintcream;
}

.gc-bg-snow{
    background-color: snow;
}

.gc-bg-gray{
    background-color: snow;
}

.gc-fullpage{
    min-height: 95vh;
    margin: 0;
    padding: 0;
}

.gc-admin-color-black{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-color : white;
    color: white;
    pading : 3px;
}
.gc-admin-color-red{
    background-color: red;
    display: flex;justify-content: center;
    align-items: stretch;
    border-style: dashed;
    border-color: black;
    color: white;
    border-width: 1px;
    pading : 3px;
}
.gc-admin-color-blue{
    background-color: blue;
    display: flex;justify-content: center;
    align-items: stretch;
    border-style: dashed;
    border-color: black;
    color: white;
    border-width: 1px;
    pading : 3px;
}
.gc-admin-color-white{
    background-color: whitesmoke;
    display: flex;justify-content: center;
    align-items: stretch;
    border-style: dashed;
    border-color: black;
    color: black;
    border-width: 1px;
    pading : 3px;
}

.gc-btn-search {
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: 4px 3px 3px rgb(163, 163, 189);
}
.gc-btn-search-size{
    min-height: 50px;
    min-width: 100px;

}
.gc-btn-search:hover {
    background-color: black;
    border: solid white 1.5px;
    box-shadow: 4px 3px 3px rgb(190, 190, 207);
    color:white;

}

/* uiliser dans les tableaux pour la colone duplicate */
.gc-btn-duplicate {
    margin-left: 10px;
    background-color: yellowgreen;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: 4px 3px 3px rgb(163, 163, 189);
    min-width: 100px;
    min-height: 30px;
}
.gc-btn-duplicate:hover {
    background-color: white;
    border: solid white 1.5px;
    box-shadow: 4px 3px 3px rgb(190, 190, 207);
    color: black;
}

/* uiliser dans les tableaux pour la colone delte */
.gc-btn-delete {
    margin-left: 10px;
    background-color: orangered;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: 4px 3px 3px rgb(163, 163, 189);
    min-width: 80px;
    min-height: 30px;
}
.gc-btn-delete:hover {
    background-color: white;
    border: solid white 1.5px;
    box-shadow: 4px 3px 3px rgb(190, 190, 207);
    color: black;
}


.gc-admin-img{
    max-width: 50px;
    height: 40px;
}
.gc-admin-table-central {
    border-radius: 10px;
    margin-top: 30px;
    background-color:ghostwhite;

}
.gc-admin-menu-left{
    background-color: white;
    border-radius: 0px 20px 20px 0px ;
    margin-top: 30px;
    margin-right: 2px;
}
