/*############ Lisa ####################################################*/
/*stylisation button test page*/

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&display=swap');

.LT_button_test{
    background-color: white;
    border: none;
    padding: 10px 15px;
    color: black;
    border-radius: 8px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition: all 1.5s ease-out;
    font-family: 'Blinker';
    box-shadow: 10px 9px 5px rgb(163, 163, 189);
    text-align: center;
}

.LT_button_test:hover{
    background-color: black;
    color: white;
    border: solid white 1.5px;
    box-shadow: 10px 9px 5px rgb(190, 190, 207);
    width: 280px;
}


@media all and (min-width: 500px) and (max-width: 900px){
    .LT_button_test {
        width: 380px;
    }
    .LT_button_test:hover {
        width: 410px;
    }
}

