body {
    background-image: url("https://wallpaperaccess.com/full/519164.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 72% 15%;
}

.bnj-index-content-container {
    height: 100%;
}

.bnj-catch-phrase-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.bnj-catch-phrase {
    color: white;
    font-family: 'Blinker', sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    text-shadow:2px 1px 2px rgba(173,188,188,0.80);
}

.bnj-catch-phrase-1 {
    animation: showup 25s;
}

.bnj-catch-phrase-2 {
    animation: showup_2 25s;
}

.bnj-catch-phrase-3 {
    animation: showup_3 25s;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes showup_2 {
    0% {opacity:0;}
    5% {opacity:0;}
    25% {opacity:1;}
    100% {opacity:1;}
}

@keyframes showup_3 {
    0% {opacity:0;}
    10% {opacity:0;}
    30% {opacity:1;}
    100% {opacity:1;}
}

.LT_button_test-container {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {

    .bnj-catch-phrase-container {
        width: 66%;
        height: 65%;
    }

    .bnj-catch-phrase {
        font-size: 2.5rem;
    }

    .LT_button_test-container {
        height: 35%;
        align-items: flex-start;
    }

}

@media (min-width: 1210px) {
    body {
        background-size: cover;
    }
}