/* --------------------- surcharge volontaire du  backgroud de la card en blanc . ------------------------------------*/
.gc-robot-bg-cadre {
    background-color: white;
    border-radius: 3px;
    /*width: 650px;
    min-width: 650px;
    max-width: 650px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 -1px 0.5px rgba(255, 255, 255, 0.034),
    0 -2px 1px rgba(255, 255, 255, 0.048),
    0 -4px 3px rgba(255, 255, 255, 0.06),
    0 -6px 5px rgba(255, 255, 255, 0.072),
    0 -12px 10px rgba(255, 255, 255, 0.086),
    0 -20px 15px rgba(255, 255, 255, 0.12);*/
}

