main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .bnj-success-login-sign-up {
        width: 50vw;
    }
}