a.lt_button_log_2 {
    background-color: white;
    border: none;
    padding: 10px 15px;
    color: black;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s ease-out;
    font-family: 'Blinker';
    box-shadow: 10px 9px 5px rgb(163, 163, 189);
    text-align: center;
    text-decoration: none;
}
a.lt_button_log_2:hover{
    background-color: black;
    color: white;
    border: solid white 1.5px;
    box-shadow: 10px 9px 5px rgb(190, 190, 207);
    width: 280px;
}



main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .bnj-success-login-sign-up {
        width: 50vw;
    }
}
