

<div >
    <div class="gc-container-global">
        <div class="gc-robot-head">
            <img src="/assets/images/parts/2045-AA-hemlet.png">
        </div>
        <div class="gc-robot-body">
            <img src="/assets/images/parts/2045-AA-body.png">
        </div>
        <div class="gc-robot-left-arm">
            <img src="/assets/images/parts/2045-AA-left_arm.png">
        </div>
        <div class="gc-robot-left-leg">
            <img src="/assets/images/parts/2045-AA-left_leg.png">
        </div>
        <div class="gc-robot-right-leg">
            <img src="/assets/images/parts/2045-AA-right_leg.png">
        </div>
        <div class="gc-robot-right-arm">
            <img src="/assets/images/parts/2045-AA-right_arm.png">
        </div>
        <div class="gc-robot-brain">
            <img src="/assets/images/parts/2045-AA-brain-A+.png">
        </div>
        <div class="gc-robot-batery">
            <img src="/assets/images/parts/2045-AA-battery-A.png">
        </div>
    </div>
</div>