
    <div class="col gc-robot-bg-cadre">
        <div class="row-12">{% include 'Envelop/_card_robot_title.html.twig' %}</div>
        <div class="row-12">{% include 'Envelop/_card_robot_myenvelop_attribute.html.twig' %}</div>
        <div class="row-12 gc-robot-row-top">{% include 'Envelop/_card_robot_icon.html.twig' %}</div>
        <div class="row-12">{% include 'Envelop/_card_robot_myenvelop_part.html.twig' %}</div>
    </div>


