<div class="container-fluid">
    <div class="View">
        <div class="row">
            <div class="col mb-3 offset-9">
                <span class="badge badge-secondary">Choose View</span>
                <button type="button" class="btn btn-outline-dark">Tabs</button>
                <button type="button" class="btn btn-outline-dark">Card</button>
            </div>
        </div>
    </div>