
<section class="bnj-result-profile-picture">
    <img src="{{ profil.image }}" alt="profile_picture" width="300" height="auto">
</section>
<section class="bnj-result-profile-content-container">
        <h1>CONGRATULATIONS</h1>
        <h2>you have completed the questionnaire. See your profile now!</h2>
    <div class="bnj-result-profile-content-title">
        <h2>You are a/an {{ profil.name }}!</h2>
    </div>
    <div class="bnj-result-profile-content">{{ profil.contenu }}</div>
</section>
