{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Envelops
{% endblock %}

{% block stylesheet %}
    <div>
        <link rel="stylesheet" href="/assets/css/_card_robot_title.css">
        <link rel="stylesheet" href="/assets/css/_card_robot_attribute.css">
        <link rel="stylesheet" href="/assets/css/_card_robot_button.css">
        <link rel="stylesheet" href="/assets/css/_card_robot_icon.css">
        <link rel="stylesheet" href="/assets/css/_card_robot_part.css">
        <link rel="stylesheet" href="/assets/css/_card_robot.css">
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-3">


                    {% include 'Envelop/_card_robot.html.twig' %}


        </div>
        <div class="col-3">


                    {% include 'Envelop/_card_robot.html.twig' %}


        </div>
        <div class="col-3">
            <div class="BL-card">

                    {% include 'Envelop/_card_robot.html.twig' %}

            </div>
        </div>
        </div>
    </div>

{% endblock %}


