{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Envelops
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/_card_robot_title.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_attribute.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_button.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_icon.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_part.css">
    <link rel="stylesheet" href="/assets/css/_card_robot.css">
    <link rel="stylesheet" href="/assets/css/_envelope.css">
{% endblock %}


{% block content %}
    <div class="gc-display-card">
        {% for envelop in envelops %}
        {% include 'Envelop/_card_robot.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}


