{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Envelops
{% endblock %}

{% block stylesheet %}
    <div>
        <link rel="stylesheet" href="/assets/css/_card_robot_title.css">
        <link rel="stylesheet" href="/assets/css/_card_robot_attribute.css">
        <link rel="stylesheet" href="/assets/css/_card_robot_button.css">
        <link rel="stylesheet" href="/assets/css/_card_robot_icon.css">
        <link rel="stylesheet" href="/assets/css/_card_robot_part.css">
        <link rel="stylesheet" href="/assets/css/_card_robot.css">
        <link rel="stylesheet" href="/assets/css/_envelope_display_button.css">
    </div>
{% endblock %}


{% block content %}


