{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Envelops
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/_card_robot_title.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_attribute.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_button.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_icon.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_part.css">
    <link rel="stylesheet" href="/assets/css/_card_robot.css">
    <link rel="stylesheet" href="/assets/css/_envelope.css">
{% endblock %}




{% block content %}
    <main class="result_main">
    <!-- block content container -->
    <div class="container-fluid">
        <!-- display here profile information and img -->
        <div class="row mt-5 gc-resultat-profile" class="mt">
            {% include 'Envelop/_resultat_profile.html.twig' %}
        </div>

        <!-- display envelops filtered by prifiles -->
        <div class="row mt-3 gc-display-card">
            {% for envelop in envelops %}
                {% include 'Envelop/_card_robot.html.twig' %}
            {% endfor %}
        </div>
    </div>
    </main>
{% endblock %}


