<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content %}
    <main class="lt_main_about">
        <section class="section_about">
            <article class="lt_article_about">
                <h2> We present you our company..</h2>
                <img alt="" src="https://www.stickpng.com/assets/images/580b57fbd9996e24bc43be10.png" width="200px" height="130px">
            </article>

            <article class="lt_article_about2">
                <div class="div_about">
                    <h3>Mission</h3>
                    <div>
                    <p>accompany our customers to a new world, that of robots. <br>
                    From a test, we guide you to the selection
                    of a robotic envelope that will correspond the most with your personality.</p>
                    </div>
                </div>
                <div class="div_about">
                    <h3>Services</h3>
                    <div>
                    <p>-interpretation of your profil <br> -choice of a robot <br> -tracking your purchase <br> -personalisation</p>
                    </div>
                </div>
            </article>

            <article class="lt_article_about2">
                <div class="div_about">
                    <h2>Story</h2>
                    <div>
                        <p>At setMind, we solve the world’s most important problems with talented people who share our passion for changing the world. Innovation is key.
                              <br> We strive to create products that will help you survive in the new world</p>
                    </div>
                </div>
                <div class="div_about">
                    <h2>Values</h2>
                    <div>
                        <p>All robotic envelopes are designed to be the safest
                            and fastest acceleration in their class. Their characteristics
                            are unmatched on the market in terms of safety, autonomy and performance.</p>
                    </div>
                </div>

            </article>

            <article class="lt_article_about3">
                <h3>professional team</h3>
                <div class="img_about">
                    <img src="https://lh3.googleusercontent.com/B4HmzZD4B6D98T0jhtJhbc2hhjRhIBc7RZzt883in9IH3XeObiEl3Pt_9a6b9NX0-HDL2V50X-rXGbQOS5UBHjyKXmovspvCEk2bK2Uv5bRzwFbeoyaVW3L74xPCiRJ0lQCKPu1G" width="150px" height="120px" alt="">
                    <img src="https://lh4.googleusercontent.com/A8rK8K-u_r40zU0l-cj554WAZsn7Mwtd4VcfSFedT0AHdthickzAJyt60ueZ8iHB61x3HFQ3fcp4iTTOudBic0cRe8a6AvMzgG5Cb-rRFYc0nRDOEyHmk9e8mproaTeVLgZ8Z_vf" width="120px" height="120px" alt="">
                    <img src="https://lh6.googleusercontent.com/eeaAz3haP0Etg9hpvUNU5arzI-3sskd7kcMS0ws6muro_zhEyOLTZc9PCD3jWcY34UCaPodPbiGbZ5NVPzk28h87JRrCScwVRg4UCWzauuW6QXEG0iSGbRBGWaCz40OU878tyG5q" width="120px" height="120px" alt="">
                    <img src="https://lh5.googleusercontent.com/KTR2-5F-m8RoifQcUyquwv9ioa1nD5Oo1oAacTSdWZuHu-T2H8Gh1kXiwWWKu5rD7PRUtX9oeuL-BpnBKb9Y-3gQCo3pXCo4ByrXmreK" width="150px" height="120px" alt>
                </div>
            </article>
        </section>
    </main>



{% endblock %}